<div class="w-full">
   <h1 class="font-bold text-4xl text-center mb-8">General Shopping List</h1>
  <div class="text-center flex justify-around">
    <% missing_foods = generate_missing_foods(@user_foods, @recipes_foods) %>
    <p class="font-medium text-lg border-b-2">Amount of food items to buy: <%= missing_foods.size %></p>
    <p class="font-medium text-lg border-b-2">Total value of food needed: <%= total_price_remaining(missing_foods) %>$</p>
  </div>
  <section class="flex justify-center mt-4">
    <table class="w-full text-center border-2 border-green-900 shadow-xl">
      <thead class="border-2 border-green-900">
          <tr class="bg-indigo-300">
            <th>Food</th>
            <th class="border-2 border-green-900">Quantity</th>
            <th>Price</th>
          </tr>
      </thead>
      <tbody class="bg-slate-100">
        <% missing_foods.each do |missing_food| %>
          <tr>
            <td class="border-b-2 border-green-900"><%= missing_food[:food].name %></td>
            <td class="border-2 border-green-900"><%= missing_food[:quantity_remaining] %></td>
            <td class="border-b-2 border-green-900"> <%= missing_food[:price_remaining] %>$</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>