<h1>Public Recipes</h1>
<% @recipes.each do |public_recipe| %>
  <div>
        <div>
          <h3>
            <a href="<%= recipe_path(public_recipe) %>" class=""><%= public_recipe.name %></a></h3>
          <h5>by <%= public_recipe.user.name %></h5>
        </div>
        <div>
          <h5>Total food items: <%= public_recipe.recipe_foods.count %></h5>
          <h5> Total price: <% price = 0 %>
            <% public_recipe.recipe_foods.each do |recipe_food| %>
              <% price_each_food_item = recipe_food.food.price * recipe_food.quantity %>
              <% price += price_each_food_item %>
            <% end %>
            $<%= price %>
          </h5>
      </div>
    </div>
<% end %>