<h1>Create a Recipe</h1>

<%= form_with model: @recipe, url: recipes_path, method: :post do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :preparation_time %>
    <%= form.text_field :preparation_time %>
  </div>

  <div>
    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>
  <%= link_to "Back to recipe", recipes_path %>
</div>