<div class="w-full mr-20 mt-7">
  <h1 class="font-bold text-4xl text-center"><%= @recipe.name %></h1>
  <section class="flex flex-col gap-8 py-4">
    <div class="flex flex-row-reverse justify-between mt-6">
      <div class="flex items-center gap-3">
        <% if can? :manage, @recipe %>
	@@ -17,32 +17,32 @@
    </div>
    <p class="text-xl">Cooking time: <%= @recipe.cooking_time %> hours</p>
    <p class="text-xl"><%= @recipe.description %></p>
  </section>
  <div class="flex justify-between my-4 mx-6 border-b-2 pb-7">
    <% if can? :manage, @recipe %>
      <a href="<%= url_for(action: 'index', controller: 'general_shopping_list') %>">
        <button class="text-green-800 shadow-lg p-2 border-solid border-green-600 bg-green-400 border-2 rounded">Generate Shopping List</button>
      </a>
      <a href="<%= new_recipe_recipe_food_path(@recipe) %>">
        <button class="text-green-800 shadow-lg p-2 border-solid border-green-600 bg-green-400 border-2 rounded">Add Ingredient</button>
      </a>
    <% end %>
  </div>

  <section>
    <table class="w-full border-2 border-green-900 text-center shadow-xl">
      <thead class="border-2 border-green-900">
          <tr class="bg-indigo-300">
            <th>Food</th>
            <th class="border-2 border-green-900">Measurement Unit</th>
            <th>Quantity</th>
            <th class="border-2 border-green-900">Value</th>
            <% if can? :manage, @recipe %>
              <th class="">Actions</th>
            <% end %>
          </tr>
      </thead>
      <tbody class="bg-slate-100">
        <%= render partial: 'shared/table', collection: @recipe.recipe_foods, as: :item %>
      </tbody>
    </table>